@import variables, mixins

*
	box-sizing: border-box

body
	color: $qora
	background: #CFCCDA
	font-family: Calibri

.mobile-container
	max-width: 1200px
	margin: auto
	padding: 30px 25px
	background-color: #FBFBFB
	@include border-radius
h1
	font-family: Centaur

.nav-scroller .nav
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	-ms-flex-wrap: nowrap
	flex-wrap: nowrap
	padding-bottom: 1rem
	margin-top: -1px
	overflow-x: auto
	text-align: center
	white-space: nowrap
	-webkit-overflow-scrolling: touch

.nav-scroller
	position: relative
	z-index: 2
	height: 2.75rem
	overflow-y: hidden

.nav-scroller .nav::-webkit-scrollbar
	display: none

.nav-scroller .nav
	-ms-overflow-style: none
	scrollbar-width: none

a
	padding: 0 25px 0 0
	font-family: Calibri
	font-size: 1.2rem
	text-decoration: none
	color: $anchor

a.active
	color: $qora2
	font-weight: bolder

i.fa-1 
	font-size: 25px
	font-weight: bolder

.row
	display: flex
	flex-wrap: wrap

.column
	flex: 33.3%
	padding: 20px

@media screen and (max-width: 992px)
	.column
		flex: 50%

@media screen and (max-width: 600px)
	.row
		flex-direction: column

.card
	background-color: $oq
	@include border-radius

.card-content
	padding: 15px

.card-img
	width: 100%
	height: auto
	border-radius: 20px 20px 0 0

.post-meta
	display: inline-block
	width: 100%

.author-logo
	float: left
	margin-right: 8px

.author-logo img, .bottom-navbar-author img
	border-radius: 50%
	
.author-name
	// font-size: 1px
.post-data
	color: #a0a0a0

.img-container
	position: relative
	text-align: center
	color: white

.article-title
	position: absolute
	bottom: 8px
	left: 15px
	font-size: 1.3em
	text-align: left

.article-category
	position: absolute
	bottom: 63px
	left: 11px
	background-color: #ff5dad
	padding: 3px 5px 
	@include border-radius

.img-content
	position: absolute
	left: 0
	bottom: 0
	width: 100%
	padding: 83px 5px 5px
	color: #fff

.img-content
	background: -webkit-linear-gradient(to bottom,transparent,#000)
	background: -o-linear-gradient(to bottom,transparent,#000)
	background: linear-gradient(to bottom,transparent,#000)

.bottom-navbar 
	display: flex
	align-items: stretch

.bottom-navbar > a
	color: $qora
	text-align: center
	line-height: 75px
	font-size: 2em